<section 
    id="contactame"
    class="max-w-screen flex flex-1 lg:justify-center justify-start flex-col bg-sunny py-12 border-lg"
    onclick=toggleFlipCard()
>
		<section class="lg:px-10 relative py-2 self-center text-center">
			<h2 class="text-dark font-semibold sm:text-5xl text-3xl">CONTACT</h2>
			<h3 class="text-active font-regular sm:text-xl text-lg"> away from a message </h3>
		</section>
		<div class="flex flex-1 lg:flex-row flex-col w-full">

			<div class="lg:w-2/5 w-full">
                <div class="w-full flex flex-1 lg:justify-center justify-start flex-row bg-gray-100 p-8 rounded-lg">
                    <section class=" w-full bg-active text-sunny p-4 sm:p-8 rounded-lg shadow-lg sm:text-lg text-sm">
                        <h3 class=" font-semibold mb-4 uppercase">Contact Information</h3>
                        <p class="">Email: mandros.angelof@pucp.edu.pe</p>
                        <p class="">Phone: +51 950 436 941</p>
                        <p class="">Address: Lima, PE</p>
                    </section>
                </div>
                <div class="w-full flex flex-1 lg:justify-center justify-start flex-row bg-gray-100 p-8 rounded-lg">
                    <div class="flex flex-col items-center w-full p-4 sm:p-8 rounded-lg shadow-lg sm:text-lg text-sm border">
                        <h3 class="text-lg font-semibold mb-4 uppercase">Follow me:</h3>
                        <div class="flex justify-center space-x-4">
                            <a href="https://github.com/Norbory" target="_blank" aria-label="Enlace a GitHub de Angelo">
                                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/in/angelo-fabrizio-mandros-ramos/" target="_blank" aria-label="Enlace a Linkedin de Angelo">
                                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                                    <path fill-rule="evenodd" d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd"/>
                                    <path d="M3 5.012H0V15h3V5.012Z"/>
                                </svg>
                                </a>
                            <a href="https://www.instagram.com/norbory/" target="_blank" aria-label="Enlace a Instagram de Angelo">
                                <svg class="w-8 h-9" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="#0F0F0F"/>
                                    <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="#0F0F0F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" fill="#0F0F0F"/>
                                </svg>
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
            
			<section class="fade-in flex flex-1 px-12 py-4 text-dark text-bold flex-col lg:w-3/5 w-full">
                <form id="contact-form" class="flex flex-col space-y-4">
                    <label class="text-lg" for="name">Name:</label>
                    <input 
                        class="border border-gray-300 px-3 py-2 rounded-lg focus:outline-none focus:border-blue-500" 
                        type="text" 
                        id="name" 
                        name="name" 
                        placeholder="Enter your name" 
                        required
                    >
                    <label class="text-lg" for="email">Email:</label>
                    <input 
                        class="border border-gray-300 px-3 py-2 rounded-lg focus:outline-none focus:border-blue-500" 
                        type="email" 
                        id="email" 
                        name="email" 
                        placeholder="Enter your email" 
                        required
                    >
                    <label class="text-lg" for="message">Message:</label>
                    <textarea 
                        class="border border-gray-300 px-3 py-2 rounded-lg focus:outline-none focus:border-blue-500" 
                        id="message" 
                        name="message" 
                        rows="4" 
                        placeholder="Enter your message" 
                        required
                    >
                    </textarea>
                    <button type="submit" class="self-center max-w-32 bg-blue-500 text-white font-bold py-2 px-4 rounded bg-contrast/50 hover:bg-contrast hover:text-sunny border transition-all duration-200 ease-in-out transform hover:scale-105 hover:shadow-lg focus:outline-none">
                      Submit
                    </button>
                    <div id="status-message"></div>
                </form>                
            </section>
<style>
    #status-message {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: opacity 0.3s ease-in-out;
    }

    .error {
        background-color: #ffcccc;
        color: red;
    }

    .success {
        background-color: #ccffcc;
        color: green;
    }
</style>

<script>
    const form = document.getElementById('contact-form');
    const statusMessage = document.getElementById('status-message');

    form?.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form as HTMLFormElement);
        const formDataObj = {} as any;

        for (const [key, value] of formData.entries()) {
            formDataObj[key]  = value;
        }

        const formDataJSON = JSON.stringify(formDataObj);

        try {
            const response = await fetch('https://mailserver-dev-sckq.1.us-1.fl0.io/send-email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // Configurar el encabezado Content-Type
            },
            body: formDataJSON // Enviar el formData como JSON
        });

            const data = await response.json();

            if (response.ok) {
                if (statusMessage) {
                    statusMessage.textContent = data.message;
                    statusMessage.classList.remove('error');
                    statusMessage.classList.add('success');
                    setTimeout(() => {
                        statusMessage.textContent = '';
                        (form as HTMLFormElement).reset();
                        form.setAttribute('disabled', 'true');
                    }, 3000);
                }
            } else {
                throw new Error(data.message);
            }
        } catch (error) {
            console.error(error);
            if (statusMessage) {
                statusMessage.textContent = 'Error al enviar el mensaje';
                statusMessage.classList.remove('success');
                statusMessage.classList.add('error');
                setTimeout(() => {
                    statusMessage.textContent = '';
                }, 3000);
            }
        }
    });
</script>
