
<ol class="items-center md:flex p-8 justify-center md:pt-20">
    <li class="relative mb-6 md:mb-0 md:max-w-[33%] md:h-60">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-[#282828] rounded-full ring-0 ring-sunny md:ring-8 shrink-0">
                <svg class="w-2.5 h-2.5 text-sunny" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <div class="hidden md:flex w-full bg-[#c9c9c9] h-0.5"></div>
        </div>
        <div class="mt-3 md:pe-8">
            <h3 class="text-lg font-semibold text-sunny">Consultoría Carranza E.I.R.L.</h3>
            <time class="block mb-2 text-md font-normal leading-none text-[#c9c9c9]">March 2023 - Today</time>
            <p class="text-base font-normal text-[#c9c9c9] pb-2">Web Developer, App Developer and Lead Software Developer</p>
            <a href="/works/carranza" class="bg-active text-sunny p-2 rounded-md transition-all duration-300 ease-in-out hover:bg-contrast"> Ver más </a>
        </div>
    </li>
   
    <li class="relative mb-6 md:mb-0 md:max-w-[33%] md:h-60">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-[#282828] rounded-full ring-0 ring-sunny md:ring-8 shrink-0">
                <svg class="w-2.5 h-2.5 text-sunny" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <div class="hidden md:flex w-full bg-[#c9c9c9] h-0.5"></div>
        </div>
        <div class="mt-3 md:pe-8">
            <h3 class="text-lg font-semibold text-sunny">Geohidrac S.A.C.</h3>
            <time class="block mb-2 text-md font-normal leading-none text-[#c9c9c9]">September, 2023 - December, 2023</time>
            <p class="text-base font-normal text-[#c9c9c9] pb-2">Software developer, Computer manufacturer and Mining Operations Supervisor</p>
            <a href="/works/geohidrac" class="bg-active text-sunny p-2 rounded-md transition-all duration-300 ease-in-out hover:bg-contrast"> Ver más </a>
        </div>
    </li>
    <li class="relative mb-6 md:mb-0 md:max-w-[33%] md:h-60">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-[#282828] rounded-full ring-0 ring-sunny md:ring-8 shrink-0">
                <svg class="w-2.5 h-2.5 text-sunny" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <div class="hidden md:flex w-full bg-[#c9c9c9] h-0.5"></div>
        </div>
        <div class="mt-3 md:pe-8">
            <h3 class="text-lg font-semibold text-sunny">Geohidrac S.A.C.</h3>
            <time class="block mb-2 text-md font-normal leading-none text-[#c9c9c9]">February, 2022 - August, 2022</time>
            <p class="text-base font-normal text-[#c9c9c9] pb-2">TI assistant and Computer manufacturer (3D printer, CNC)</p>
            <p class="p-2 text-main">-</p>
        </div>
    </li>

</ol>

