---
    
---

<section class="grid md:grid-cols-6 grid-cols-1 gap-0 min-h-screen">
    <div 
        id="note-1" 
        class="grid-cols-subgrid gap-4 border-border border-2 md:h-full active:bg-contrast"
        onclick=toggleContiene()
    >
        <div class="col-start-2">
            <h2 class="text-end text-5xl px-1 py-5" style={{writingMode: "vertical-lr", textOrientation:"mixed"}}>
                Academic Pursuits
            </h2>
        </div>
    </div>
    <div
        id="contenedor-1"
        class=`grid-cols-subgrid gap-4 md:col-span-3 border-border border-2 md:h-full`
    >
        <div class="col-start-2">

        </div>
    </div>
    <div 
        id="note-2" 
        class="grid-cols-subgrid gap-4 border-border border-2 md:h-full active:bg-contrast"
        onclick=toggleContiene()
    >
        <div class="col-start-2">
            <h2 class="text-end text-5xl px-1 py-5" style={{writingMode: "vertical-lr", textOrientation:"mixed"}}>
                Professional Endeavors
            </h2>
        </div>
    </div>
    <div
        id="contenedor-2"
        class=`hidden grid-cols-subgrid gap-4 md:col-span-3 border-border border-2 md:h-full`
    >
        <div class="col-start-2">

        </div>
    </div>
    <div 
        id="note-3" 
        class="grid-cols-subgrid gap-4 border-border border-2 md:h-full active:bg-contrast"
        onclick=toggleContiene()
    >
        <div class="col-start-2">
            <h2 class="text-end text-5xl px-1 py-5" style={{writingMode: "vertical-lr", textOrientation:"mixed"}}>
                Hobbies
            </h2>
        </div>
    </div>
    <div
        id="contenedor-3" 
        class=`hidden grid-cols-subgrid gap-4 md:col-span-3 border-border border-2 md:h-full`
    >
        <div class="col-start-2">

        </div>
    </div>
</section>

<script>
    const note1 = document.getElementById("note-1");
    const note2 = document.getElementById("note-2");
    const note3 = document.getElementById("note-3");
    const contiene1 = document.getElementById("contenedor-1");
    const contiene2 = document.getElementById("contenedor-2");
    const contiene3 = document.getElementById("contenedor-3");

    function toggleContiene1() {
        if (contiene2?.classList.contains("hidden") === false) {
            contiene2?.classList.toggle("hidden");
        }
        if (contiene3?.classList.contains("hidden") === false) {
            contiene3?.classList.toggle("hidden");
        }
        if (contiene1?.classList.contains("hidden") === true) {
            contiene1?.classList.toggle("hidden");
        }
    };

    function toggleContiene2() {
        if (contiene1?.classList.contains("hidden") === false) {
            contiene1?.classList.toggle("hidden");
        }
        if (contiene3?.classList.contains("hidden") === false) {
            contiene3?.classList.toggle("hidden");
        }
        if (contiene2?.classList.contains("hidden") === true) {
            contiene2?.classList.toggle("hidden");
        }
    };
    function toggleContiene3() {
        if (contiene2?.classList.contains("hidden") === false) {
            contiene2?.classList.toggle("hidden");
        }
        if (contiene1?.classList.contains("hidden") === false) {
            contiene1?.classList.toggle("hidden");
        }
        if (contiene3?.classList.contains("hidden") === true) {
            contiene3?.classList.toggle("hidden");
        }
    };

    note1?.addEventListener("click", toggleContiene1);
    note2?.addEventListener("click", toggleContiene2);
    note3?.addEventListener("click", toggleContiene3);
</script>