<div id="pantallazo-3" class="contenido bg-gray-800 text-sunny p-8">
    <h2 class="text-xl font-bold mb-4">Leadership & Activities</h2>
    <h3 class="text-lg font-bold mb-2">BFL: Full League Basketball - Lima, PE</h3>
    <p class="mb-4">Coach, Captain - Nov. 2022 – Present</p>
    <ul class="list-disc ml-8 mb-4">
        <li>A non-profit organization that serves to teach children and adults how to play basketball.</li>
        <li>Values: Discipline, Teamwork, Leadership, Competitiveness.</li>
        <li>I started the organization in order to promote camaraderie among neighbors thanks to a healthy lifestyle. It has teams (major, minor).</li>
        <li>It seeks to promote courses for teenagers in horticulture, programming, and languages.</li>
    </ul>
    <h3 class="text-lg font-bold mb-2">BBVA Hackathon: We Code - Lima, PE</h3>
    <p class="mb-4">Participant - Aug. 2022 days (27-28)</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Participated in the event organized by BBVA bank in which you are a finalist.</li>
        <li>Values: Teamwork, Leadership, Competitiveness.</li>
        <li>I led a multidisciplinary group for the creation of an alternative change in the bank's web platform using the code tools we had at our disposal.</li>
        <li>Tools used: Sensors, Arduino, Frameworks (React, Nodejs), Database (Firebase), Figma, Computer Vision (Python).</li>
    </ul>
    <h3 class="text-lg font-bold mb-2">Ideaton: Linking - Lima, PE</h3>
    <p class="mb-4">Participant - Aug. 2023 day (24)</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Participated in the event organized by the municipality of San Miguel and the Pontifical Catholic University of Peru to generate a solution that would promote civic culture in the district.</li>
        <li>Values: Teamwork, Leadership, Competitiveness.</li>
        <li>I led a multidisciplinary group for the creation of a mockup of the solution which consisted of a channel of complaints and solution proposals hosted on the municipality's website.</li>
        <li>Tools used: Figma, Canva.</li>
    </ul>
    <h2 class="text-xl font-bold mb-4">Skills & Interests</h2>
    <p class="mb-4">Techniques:</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Front-End (React, React Native, Angular, Astro, Bootstrap, Tailwind, NextJS, Vite, Unity)</li>
        <li>Back-End (NodeJS, Express, Java, Spring)</li>
        <li>Design (Figma, After Effects, Photoshop)</li>
        <li>Office (Excel, Power BI)</li>
        <li>Modeling (Inventor, Fusion360, AutoCAD)</li>
        <li>AWS (Sagemaker, Lambda, DynamoDB, SNS, IoT core, Amazon S3)</li>
        <li>Deployment (Vercel, Fl0, AWS, Heroku)</li>
        <li>CI/CD (GitHub Actions and Jenkins)</li>
        <li>Agile Methodology (Scrum)</li>
    </ul>
    <p class="mb-4">Programming languages:</p>
    <ul class="list-disc ml-8 mb-4">
        <li>C (University projects)</li>
        <li>C++ (Backend)</li>
        <li>C# (Unity, Backend)</li>
        <li>Java (Serverless solutions with Spring)</li>
        <li>HTML (Web)</li>
        <li>CSS (Web)</li>
        <li>Javascript (Front-End, Back-End)</li>
        <li>Typescript (Front-End, Back-End)</li>
        <li>Python (Machine Learning, Computer Vision, AI, Data Analytics)</li>
        <li>Kotlin (App development)</li>
        <li>Basic Knowledge de R (Data processing)</li>
    </ul>
    <p class="mb-4">Interests: Data Analysis, Robotics, Machine Learning, Web Development, Physics</p>
    <p class="mb-4">Hobbies: Basketball, Reading, Gym</p>
</div>
