<div id="pantallazo-1" class="contenido bg-gray-800 text-sunny p-8">
    <h2 class="text-xl font-bold mb-4">Pontifical Catholic University of Peru - Lima, PE</h2>
    <p class="mb-4">Bachelor of Science with a major in Mechatronics Engineering August 2023</p>
    <h3 class="text-lg font-bold mb-2">Relevant Courses</h3>
    <ul class="list-disc ml-8 mb-4">
        <li>Thesis 2: Thesis Preparation (Main Software System)</li>
        <li>Business Management and Management: Leadership Knowledge and Working Methods</li>
        <li>Introduction to Machine Design: Calculation and Design of Mechanical Systems</li>
    </ul>
    <h3 class="text-lg font-bold mb-2">Leadership & Activities</h3>
    <div class="mb-4">
        <h4 class="text-lg font-bold">HarkAI - Lima, PE</h4>
        <p class="mb-2">Head of Programming Jul. 2023 - Present</p>
        <ul class="list-disc ml-8">
            <li>Development of a comprehensive system for the detection of misuse of personal protective equipment with the use of cameras with artificial intelligence and automatic visualization in real time with graphical web interfaces and app with the use of web sockets.</li>
            <li>I lead in web and app development for the creation of the graphical interface following specific design patterns that facilitate the user experience (UI/UX).</li>
            <li>I control the workflow with tools such as Trello and Jira to map the processes executed and find solutions for bottlenecks or improve the solutions executed in order to reduce times.</li>
            <li>He used agile methodologies for the execution of the project as Scrum, serving as a Scrum master of the same group.</li>
            <li>Direct communication with management and the main client of the project for validation of good solution development</li>
            <li>Tools: Android Studio, MongoDB, React Native + Expo, React + Vite, TailwindCSS</li>
        </ul>
    </div>
    <div class="mb-4">
        <h4 class="text-lg font-bold">Saildrone PUCP - Lima, PE</h4>
        <p class="mb-2">GUI Designer, Programmer Nov. 2022 - Present</p>
        <ul class="list-disc ml-8">
            <li>Competition in a competition organized by the Peruvian Navy for the creation of an autonomous sailboat. Values: Teamwork, Working under pressure</li>
            <li>I am part of the team in charge of data management and creation of the GUI of the sailboat.</li>
            <li>Tools used: Figma, Unity, Firebase</li>
        </ul>
    </div>
    <h3 class="text-lg font-bold mb-2">Languages</h3>
    <ul class="list-disc ml-8">
        <li>English – Advanced (Catholic Languages)</li>
        <li>Portuguese – Novice (Independent)</li>
    </ul>
</div>
