---
import HeaderButton from "./HeaderButton.astro";
---
<astro-nav>
<nav id="header-nav"class="max-w-screen h-[10vh] z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-3 sm:py-6 lg:px-4 lg:py-10">
    <div class="relative flex h-16 items-center justify-between">

    <!-- Mobile menu button-->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          id="hamburger-btn" 
          type="button" 
          class="relative inline-flex items-center justify-center rounded-sm p-2 text-active focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sunny" 
          aria-controls="mobile-menu"
          aria-expanded="false"
          aria-label="Boton para abrir el menu de navegacion"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only"></span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg id="hamSVG" class="block h-6 w-6 font-semibold transition-all" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg id="CloseSVG" class="hidden h-6 w-6 font-semibold transition-all" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <!-- Imagen del logo -->
        <a href="/" class="sm:flex flex-shrink-0 items-center hidden">
          <img class="h-8 w-auto" src="/logo.webp" alt="Logo from my company">
        </a>
        <!-- Opciones de routes -->
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <HeaderButton
              id="home-btn"
              link="/"
            >
                Home
            </HeaderButton>

            <HeaderButton 
              id="about-btn"
              link="/about"
            >
                About me
            </HeaderButton>
            <HeaderButton
              id="contact-btn"
              link="/contact"
            >
                Contact
            </HeaderButton>
          </div>
        </div>

      </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div 
    class="hidden" 
    id="mobile-menu"
  >
    <div 
      id="mobile-menu-content"
      class="space-y-1 px-2 pb-3 pt-2"
    >
      
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a
          class="btn-mobile uppercase text-sm font-semibold py-4 hover:bg-main min-w-full text-center rounded-md drop-shadow-md hover:text-sunny"
          href="/"
        >
            Home
        </a>
        <hr>
        <a 
          class="btn-mobile uppercase text-sm font-semibold py-4 hover:bg-main min-w-full text-center rounded-md drop-shadow-md hover:text-sunny"
          href="/about"
        >
            About me
        </a>
        <hr>
        <a
          class="btn-mobile uppercase text-sm font-semibold py-4 hover:bg-main min-w-full text-center rounded-md drop-shadow-md hover:text-sunny"
          href="/contact"
        >
            Contact
        </a>
        
    </div>
  </div>
</nav>
</astro-nav>

<script>
  class AstroNav extends HTMLElement {
    constructor() {
      super();
      const hamburgerBtn = document.getElementById('hamburger-btn');
      const hamSVG = document.getElementById('hamSVG');
      const CloseSVG = document.getElementById('CloseSVG');
      const mobileContent = document.getElementById('mobile-menu-content');
      const btnMobiles = document.querySelectorAll('.btn-mobile');
      const mobileMenu = document.getElementById('mobile-menu');

      btnMobiles?.forEach(link => {
        link.addEventListener('click', () => {
          mobileMenu?.classList.toggle('hidden');
          hamSVG?.classList.toggle('hidden');
          CloseSVG?.classList.toggle('hidden');
          mobileMenu?.classList.toggle('mobile');
          mobileContent?.classList.toggle('mobile-content');
        });
      });

      hamburgerBtn?.addEventListener('click', () => {
        mobileMenu?.classList.toggle('hidden');
        hamSVG?.classList.toggle('hidden');
        CloseSVG?.classList.toggle('hidden');
        mobileMenu?.classList.toggle('mobile');
        mobileContent?.classList.toggle('mobile-content');
      });
    }
  }
  
  customElements.define('astro-nav', AstroNav);
	
</script>