---
interface Props {
    link: string
    id: string
}

const { link,id } = Astro.props;
---
<a
  id={id}
  class="text-subtext hover:text-sunny justify-center cursor-pointer 
  hover:bg-main focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 
  rounded-lg px-6 py-2.5 text-center inline-flex items-center
   mr-2 mb-2 hover:shadow-lg transition-all font-semibold
  duration-300 ease-in-out gap-x-2 opacity-90 hover:opacity-100"
  href={link}
>
  <slot />
</a>