---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
---

<Layout title="Dream Developer | Enlighten the path">
	<main>
		<Header />
		<h1>I'm Norbory</h1>
	</main>
</Layout>

