---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Journey">
    <section class="px-6">
        <h2 class="text-3xl font-bold mb-4">Welcome to our Blog Journey</h2>
        <p class="text-lg mb-4">Explore our journey through insightful blog posts. Here are some of our recent entries:</p>
        <ul class="list-disc pl-6">
            <li><a href="/blog/content" class="text-blue-500 hover:underline">Blog ejemplo</a></li>
            <!-- Añade más entradas según sea necesario -->
        </ul>
    </section>
</Layout>
