---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Works">
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 max-w-9/11 min-h-[82vh] p-8 pt-10">
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">01</div>
        </div>
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">02</div>
        </div>
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">03</div>
        </div>
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">04</div>
        </div>
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">05</div>
        </div>
        <div class="grid gap-4 rounded-lg shadow-lg text-sunny bg-active content-center">
            <div class="col-start-2">06</div>
        </div>
      </div>
</Layout>