---
import Header from '../components/general/Header.astro';
import { ViewTransitions } from "astro:transitions";
import Footer from '../components/general/Footer.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="view-transition" content="same-origin"/>
		<ViewTransitions fallback='none'/>
	</head>
	<body class="bg-sunny min-h-screenflex-1 ">
		<Header />
		<main class="max-w-screen m-auto ">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Poppins';
		src: url('../fonts/Poppins-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;

	}
	html {
		font-family: 'Poppins', sans-serif;
		background-size: 224px;
		overflow-x: hidden;
	}

	.nota{
		background-image: linear-gradient(to bottom, #FFF, rgba(237,242,244, 0.3) 90%);
	}

	.image-container {
		perspective: 1000px; /* Define la perspectiva */
	}

	.image-container:hover .image {
		transform: rotateY(10deg); /* Gira la imagen en el eje Y */
		transition: transform 0.5s ease; /* Agrega una transición suave */
	}

	.contenedor-nota{
		background-color: #8d99ae;
	}

	.contenedor-titulo{
		color: #000;
	}

	@media (min-width: 768px) {
		.palabrotas {
			writing-mode: vertical-lr;
			text-orientation: mixed;
		}
	}

	.mobile {
		z-index: 1000;
		background-color: white;
		position: fixed;
		height: 100vh;
	}

	.mobile-content {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
	}

</style>